@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  color: $text-color;
  font-weight: 400;
  font-size: 16px;
  background: $grey-color;
  overflow-x: hidden;
}

.coder--btn {
  border: none;
  cursor: pointer;
  background: $green-color;
  color: $white-color;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 300000000px;
}

.coder--btn-outline {
  border: 1px solid $green-color;
  cursor: pointer;
  background: transparent;
  color: $dark-color;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  border-radius: 300000000px;
}
.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.sub-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.link {
  color: $green-color;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
    color: $green-color;
  }
}
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: $green-color;
}
