$green-color: #44ce6f;
$primary-color: #3f3d56;
$dark-color: #032b8d;
$white-color: #e7f9ec;
$pure-white-color: #fff;
$grey-color: #f7fafd;
$hover-color: #cdf1d8;
$blue-color: #032b8d;
$header-color: #0e314c;
$text-color: rgb(96, 132, 164);

$site-paddingp-tb: 0;
$site-paddingp-lr: 2em;

$breakpoint-medium: 1224px;
$breakpoint-small: 520px;
